:root{
    --clr-greyshade:#ff7782;
    --clr-white:#fff;
    --clr-info-dark:#7d8da1;
    --clr-info-light:#dce1eb;
    --clr-dark:#363949;
    --clr-color-background:#f6f6f9;/*u*/
    --clr-light:rgba(4, 6, 20, 0.18);

    --card-border-radius:2rem;
    --border-radius-1:0.4rem;
    --border-radius-2:0.8rem;
    --border-radius-3:1.2rem;

    --card-padding:1.7rem;
    --padding-1:1.2rem;
    --box-shadow:0.7rem 2rem 3rem var(--clr-light);
}
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration:none;
    border:0;
    list-style: none;

}
body{
   font-family: "Poppins";
   width:100vw;
   height:100vh;
   font-size:0.88rem;
   overflow-x:hidden;
   background-color:var(--clr-color-background);
}
.container{
    display:grid;
    width:96%;
    gap:1.5rem;
    grid-template-columns:14rem auto ;
    margin:0 auto;
}
a{
    color:var(--clr-dark);
}
h1{
    font-weight:800;
    font-size:1.8rem;
}
h2{
    font-size:1.4rem;
}
h3{
    font-size:0.87rem;
}
p{
    color:var(--clr-dark-variant);
}

/* sidebar */
aside{
    height:100vh;
    width:17vw;
}
aside .top{
    background-color:var(--clr-white);
    display:flex;
    justify-content: space-around;
    align-items:center;
    margin-top:1.4rem;
}
aside .logo{
    display:flex;
    gap:1rem
}
.close{
    display:none;
    cursor:pointer;
}

.sideBarItems{
    background-color:var(--clr-white);
    display:flex;
    flex-direction:column;
    height:86vh;
    position:relative;
    top:1rem;
}

aside .h3{
    font-weight:300;
}

aside .sideBarItems a{
    display:flex;
    color:var(--clr-info-dark);
    margin-left:1.5rem;
    align-items:center;
    height:3.7rem;
    transition:all  .1s ease-in;
}

.sidebar a span{
    font-size:1.6rem;
    transition:all .1s ease-in;
}
.sideBarItems a:hover{
    background-color:var(--clr-light);
    color:black;
    margin-left:0rem;
    border-left:4px solid var(--clr-dark);
}
.noOfMsg{
    position:absolute;
    right:2rem;
    padding:0.3rem;
    background-color:black;
    border-radius:50%;
    color:white;
}

@media screen and (max-width:900px){
    .close{
        display:block;
        align-self: center;
    }
}
@media screen and (max-width:650px){
    aside{
        width:40vw;
    }
}
@media screen and (max-width:475px){
    aside{
        width:50vw;
    }
}
@media screen and (max-width:375px){
    aside{
        width:55vw;
    }
}
/* sidebar */

/*main-Section*/
main{
    margin-top:1.4rem;
    width:auto;
}
main header{
    display:flex;
    align-items:center;
    justify-content:space-between;
    width:75vw;
}
main header h1{
    align-self: flex-start;
}
main h1 span{
    color:var(--clr-greyshade)
}
/* Person logo */
.profileName{
    display:flex;
    justify-content: space-between;
}
.profile{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content:flex-end;
    margin-right:2rem;

}
.profilePhoto{
    width:3.1rem;
    height:3.1rem;
    border-radius:50%;
    overflow: hidden;
    margin-left:1rem;
}
.profilePhoto img{
    height:100%;
    width:100%;
    object-fit: contain;
}
.name{
    display:flex;
    color:var(--clr-dark);
   cursor:pointer;
    
}
.name img{
    height:1rem;
    line-height: 1rem;
}
.name p{
 line-height:1rem;
}
.calendar{
    width:4.8rem;
    height:3rem;
    background:#fff;
    display:flex;
    align-items:center;
    border-radius:1rem;
    z-index: 2;
}
.DateDay,.MonYear{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:0.5rem;
    flex-direction:column;
}

.MonYear{
    background-color:var(--clr-dark);
    color:white;
    width:40%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}
.DateDay{
    width:60%;
}
#date{
    font-size:1.0rem;
    line-height:1.3rem;
}
/* main section elements */
.row{
    display:grid;
    grid-template-columns:repeat(10,1fr);
    grid-gap:2rem;
    display:grid;
    width:75vw;
    justify-content: space-between;
    
}
.firstSection{
    display:flex;
    flex-direction:column;
    width:22.5vw;
}
main .notifications{
    background-color:var(--clr-white);
    padding:var(--card-padding);
    border-radius:var(--card-border-radius);
    margin-top:1rem;
    box-shadow:var(--box-shadow);
    transition:all 0.3s ease;
    height:auto;
    
}
main .notifications:hover{
    box-shadow:none;
}

.notifications h2{
    position:relative;
    bottom:0.5rem;
}
.logo img{
    height:2.1rem;
}
.logo{
    display:flex;
    padding-left:0.8rem;
    border-radius:0.8rem;
    align-items:center;
    padding-top:0.2rem;
    padding-bottom:0.2rem;
    margin-bottom: 0.9rem;
}

.whatsapp{
    background-color:rgb(15, 208, 15);
}
.whatsappLogo{
    margin-right:0.5rem;
    padding-top:0.1rem;
}
.whatsapp p{
    color:var(--clr-white);
    font-size:0.75rem;
    position:relative;
    bottom:0.1rem;
}
.whatsapp span{
    margin-left:6.8rem;
}
.notifications h2 span{
    color:var(--clr-greyshade);
}
.gmail{
    background-color:#012417;
}
.gmailLogo{
    margin-right:0.5rem;
    padding-top:0.1rem;
}
.gmail p{
    color:white;
    font-size:0.63rem;
    position:relative;
    bottom:0.1rem;
}
.gmail span{
    margin-left:1rem;
}
.msg{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    margin-left:0.2rem;
}
.swiggy{
    background-color:white;

}
.swiggy span{
        margin-left:6.88rem;
}
.swiggy p{
    color:var(--clr-greyshade);
    font-size:0.7rem;
    position:relative;
    bottom:0.1rem;

}
.swiggyLogo{
    margin-right:0.5rem;
    padding-top:0.1rem;
}
.insta{
   
    background-color:white;
}
.insta span{
    margin-left:3.1rem;
}
.insta p{
color:var(--clr-greyshade);
font-size:0.7rem;
position:relative;
bottom:0.1rem;

}
.instaLogo{
margin-right:0.5rem;
padding-top:0.1rem;
}

@media screen and (max-width:1250px) {
    .whatsapp span{
        margin-left:1rem;
    }
    .gmail p{
        font-size:0.57rem;
    }
    .gmail span{
        margin-left:0.45rem;
    }
    .swiggy span{
        margin-left:1rem;
    }
    .profile{
        margin-right:rem;
    }
    .row{
        grid-gap:1rem;
    }
    .insta span {
        margin-left:0.5rem;
    }
}

main .Tocontainer{
    padding:var(--card-padding);
    background:white;
    border-radius:var(--card-border-radius);
    margin-top:1rem;
    box-shadow:var(--box-shadow);
    transition:all 0.3s ease;
    height:auto;
    width:27.5vw;
}
main .Tocontainer h2{
    text-align:center;
    margin-bottom:1rem;
}
main .notifications h2{
    text-align: center;
    margin-bottom:0.7rem;
}
.inputContainer{
    display:flex;
    justify-content:space-between;
    margin-top:0.5rem; 
}
.todoInput {
    flex:1;
    outline:none;
    border-radius:1rem;
    font-size:0.9rem;
    margin-right:1rem;
    padding:0.6rem;
    margin-bottom:1rem;
}
.todoInput:focus{
    border:2px solid black;
}
.todoInput::placeholder{
    color:var(--clr-dark);
}
.addBtn{
    border:none;
    outline:none;
    font-size:1.4rem;
    background:#41f1b6  ; 
    cursor:pointer;
    width:1rem;
    border-radius:1rem;
    margin-bottom:1rem;
}
.todos img{
    margin:2rem auto 0;
    display:block;
}
.todo{
    display:flex;
    align-items:center;
    justify-content:space-between;
    transition:all 0.2s ease;
    border-radius: 1rem;
    background-color:rgb(3, 3, 69);
    padding:0.6rem;
    color:white;
    border:2px solid black; 
    margin-bottom:1rem;
}
.todo:first-child{
    margin-top:0;
}
.todo:last-child{
    margin-bottom:0;
}
.todo:hover{
    background-color:rgb(1, 1, 19);
}
.todo label{
    cursor:pointer;
    width:fit-content;
    display:flex;
    align-items:center;
    font-family: "Poppins";
}
.todo span{
    padding-left:1rem;
    position:relative;
    cursor:pointer;
}
.todo span::before{
    content:"";
    height:1rem;
    width:1rem;
    position:absolute;
    border-radius:3rem;
    margin-left:-1.2rem;
    border:2px solid white;
}
input[type="checkbox"]{
    visibility:hidden;
}
.todo input:checked + span{
    text-decoration:line-through;
}
.todo:hover input:checked + span::before,input:checked + span::before{
    border-color:#05d120;
    background:url(checkmark.jpg) 50% 50% no-repeat;
    background-size:cover;
}
.todo:hover span::before{
    border-color:#eee;
}
.todo .deleteBtn{
    background-color: transparent;
    border:none;
    cursor:pointer;
    color:#eee;
    font-size:1rem;
}
.todosContainer{
    height:20rem;
    overflow:overlay;
}
.addBtn{
    background-color:white;
    align-self:center;
}
.addBtn:hover{
    font-size:1.5rem;

}
.filters{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:0.5rem;
    font-size:600;
}
.filter{
    color:black;
    padding:0.8rem 1.0rem;
    border-radius:1rem;
    transition:all 0.2s ease;
}
.filter.active, .filter:hover{
    background-color:Black;
    color:white;
}
.deleteAll{
    display: flex;
    color:black;
    text-align: center;
    padding:0.8rem 1rem;
    cursor:pointer;
    transition:all 0.2s ease;
}
.deleteAll:hover{
    border-radius:1rem;
    color:white;
    background-color:blue;   
}
/*Transaction History*/
.budgetTracker{
    width:22.5vw;
    padding:var(--card-padding);
    background:white;
    border-radius:var(--card-border-radius);
    margin-top:1rem;
    box-shadow:var(--box-shadow);
    transition:all 0.3s ease;
    height:23rem;
    overflow:visible;
}
.expenses{
    display:flex;
    justify-content: space-between;
    align-items:center;
    font-size:1rem;
    margin-top: 1rem;
    padding:0.4rem;
    border-radius:1rem;
    color:white;
    border:1px solid black;
    transition: all 0.3s ease;
}
.expenses h2{
    color:#272343;
}
.minus{
    background-color:rgb(239, 7, 7);
    font-weight: 300;
}
.add{
    background-color:rgb(9, 185, 9);
    font-weight:300;
}
.expenses p{
    margin-left:0.4rem;
    margin-right:0.4rem;
}
.expenses:hover{
    margin-right:0.4rem;
    margin-left:0.4rem;
    
}
.WatchList{
    padding:var(--card-padding);
    background:white;
    border-radius:var(--card-border-radius);
    margin-top:1rem;
    box-shadow:var(--box-shadow);
    transition:all 0.3s ease;
    height:auto;
    display: flex;
    align-items: center;
}
.WatchList h3{
    font-size:2rem;
    text-align: center;
}
.WatchList:hover h3{
    color:red;
}
.WatchList:hover {
    cursor:pointer;
}

@media screen and (max-width:1150px){
    .container{
        grid-gap:0rem;
    }
    .firstSection{
        width:30vw;
    }
     main .Tocontainer{
        width:37.5vw;
    }
     main .budgetTracker{
        width:22.5vw;
        grid-row: 2/3;
       
    }
    .row{
        grid-gap:1rem;
    }
   main  header{
        width:70vw;
    }
}
@media screen and (max-width:900px){
    aside{
        width:22vw;
    }
}
@media screen and (max-width:950px){
    .profilePhoto{
        height:2.7rem;

        width:2.7rem;
    }
}
@media screen and (max-width:880px){
    .row{
        width:100vw;
        grid-gap:2rem;
        padding:3rem;
        margin-top:0.7rem;
        padding-top:0.5rem;
    }
    
    aside{
        display:none;
    }
    main header{
        width:90vw;
        align-self: center;
        margin-left:1.5rem;
    }
    
    main .firstSection{
        width:35vw;
        justify-content: space-around;
    }
    main .Tocontainer{
        width:40vw;
    }
    main .budgetTracker{
        width:35vw;
    }
    aside{
        width:30vw;
        height:100%;
    }
}
@media screen and (max-width:800px){
    main .firstSection{
        width:40vw;
    }
    main .row{
        padding-left:1rem;
    }
    main .Tocontainer{
        width:45vw;
    }

}
@media screen and (max-width:680px){
    main header{
        width:80vw;
        margin-left:3rem;
    }
    main .firstSection{
        display:block;
        padding:3rem;
        margin-left:2rem;
        padding-top:0.5rem;
        width:80vw;
        padding-bottom:1rem;
        
    }
    
    main .Tocontainer{
        grid-row:2/3;
        width:70vw;
        padding:3rem;
        margin-left:4rem;
    }
    main .budgetTracker{
        grid-row:3/4;
        width:70vw;
        padding:3rem;
        margin-left:4rem;
        height:auto;
    }
    .whatsapp span{
        margin-left:6rem;
    }
    .gmail p{
        font-size:0.57rem;
    }
    .gmail span{
        margin-left:0.65rem;
    }
    .swiggy span{
        margin-left:5.4rem;
    }
    .profile{
        margin-right:1rem;
    }
    .row{
        grid-gap:1rem;
    }
    .insta span {
        margin-left:1.7rem;
    }
}
@media screen and (max-width:600px){
    main header{
        margin-left:1rem;
        width:90vw;
    }
    aside{
        width:40vw;
    }
}
@media screen and (max-width:500px){
    aside{
        width:45vw;
    }
    main .firstSection{
        width:90vw;
        margin-left:0;
    }
    .row{
        margin-left:0;
    }
    main .Tocontainer{
        margin-left:1.5rem;
        width:80vw;
    }
    main .budgetTracker{
        margin-left:1.5rem;
        width:80vw;
    }
}
@media screen and (max-width:430px){
    aside{
        width:55vw;
    }
    .name{
        justify-content: space-around;
    }
    .profile{
        margin-right:0.1rem;
    }
    main .firstSection{
        padding-left:0.5rem;
        position :relative;
        left:0.5rem;
    }
    main .Tocontainer{
        margin-left:0rem;
        width:85vw;
        padding-left:1.5rem;
    }
    main .budgetTracker{
       position:relative;
       right:1.4rem;
        width:85vw;

    }
}
@media screen and (max-width:405px){
    h1{
        font-size:1.6rem;
    }
}


